{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron" style="background-color: white">
                  <h2 class="display-4" style="text-align: center; font-size: 35px; margin-top: -5%">Сайт учителя математики Вадима Витальевича Кочагина</h2>
                  <p class="lead" style="text-align: center">Уважаемые почитатели удивительной, неожиданной и прекрасной математики!</p>
                  <hr class="my-4">
                    <p style="font-size: 20px">
                        Идея этого сайта возникла в неожиданное время дистанционного обучения в марте 2020 года. В этот момент мне пришлось не встречаться с каждым «с глазу на глаз», а через посредника-экран монитора. Вместе с тем, все равно было желание помочь каждому разобраться в своих трудностях.
                    </p>
                    <p style="font-size: 20px">
                        И мы вместе с Вами создавали этот сайт.
                    </p>
                    <p style="font-size: 20px">
                        Благодаря Вам сайт продолжает оставаться «живым»: Вы подсказываете оптимальные решения, ищите новые смыслы, аккуратно указываете на ошибки. Очень хочется, чтобы так было всегда.
                    </p>
                    <hr class="my-4">
                  <p class="lead">
                      Повторюсь, главная задача сайта – помочь каждому ученику в путешествии в мир математики.
                  </p>

                </div>

        </div>
{% endblock %}