{% extends 'main.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
    <H2 style="text-align: center; text-decoration-style: inherit"> {{  ex.name }}</H2>
    <table class="table" style="text-align: center">
      <thead >
        <tr>
          <th scope="col">Фамилия и имя</th>
          <th scope="col">Проверен</th>
          <th scope="col">Посмотреть и проверить</th>
        </tr>
      </thead>
      <tbody>
        {% for i in all_ex_ans %}
            <tr>
                <td>{{ i.surname }} {{ i.name }}</td>
                <td>
                    {% if i.is_check %}
                        <div class="d-flex justify-content-center">
                            <img src="/media/true.png" style="width: 15px; height: 15px;">
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-center">
                        <img src="/media/false.jpg" style="width: 15px; height: 15px;">
                        </div>
                    {% endif %}
                </td>
                <td><a href="/view_ex_ans/{{ i.id }}" style="text-decoration: none; color: black"><button type="button" class="btn btn-primary btn-lg">Посмотреть результаты </button></a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock %}