{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/media/checkbox_style.css" media="screen">
    <div class="container">
      <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <form style="width: 70%">
            <p>
                    <h2 style="text-align: center">Выбор групп</h2>
                    {% for group in groups %}
                      <div class="inputGroup">
                        {% if group.status == 1 %}
                            <input id={{ group.idd }} name={{ group.idd }} type="checkbox" checked/>
                        {% else %}
                            <input id={{ group.idd }} name={{ group.idd }} type="checkbox"/>
                        {% endif %}

                        <label for={{ group.idd }}>{{ group.name }}</label>
                      </div>
                    {% endfor %}

            </p>

        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Изменить"></input>
      </form>
      </form>
    </div>
{% endblock %}