{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
  <div class="row justify-content-md-center">
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            <p>
            {{ form.name|as_crispy_field }}
            </p>
            <p>
            {{ form.description|as_crispy_field }}
            </p>
            <p>
                Текущий файл <a href = '/media/{{ item.file }}'>{{ item.file }}</a>
                {{ form.file|as_crispy_field }}
            </p>
        <div class="col-lg-4">
        </div>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Изменить">
      </form>
    </div>
    </div>
{% endblock %}